<div class="page-content">
	<header>
			<nav class="navbar navbar-expand-sm bg-light navbar-light">
				  <ul class="navbar-nav">
				    <li class="nav-item active">
				      <a class="nav-link " href="#">Sign Up</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">LogIn</a>
				    </li>
				  </ul>
		</nav>
	</header>
	<%= image_tag "icon.png" , id: "icon" %>

	<div id="page">
			<div class="info">
				<p class="home-info"> <span class="fab fa-gratipay"></span>    Programming made easy. Enhance your understanding of algorithms, programming constructs, programming languages from a computer science perspective using a clear, engaging and interactive approach. </p>
			</div>

			<div class="container">
			<div class="row">
			<div class="col-sm-3" id="learn">
				<h4> <span class="	fas fa-puzzle-piece"></span> Think like a Programmer </h4>
				<p class="home-exp"> Explain it like I am 5. Learn how to formulate solutions and clearly explain them to the computer. </p>
			</div>

			<div class="col-sm-3" id="learn">
				<h4> <span class="fas fa-cloud-download-alt"></span> Learn  </h4>
				<p class="home-exp"> All programming languages are modeled after the same idea. Here you will be able to learn how to quickly learn different programming languages to improve your workflow. </p>
			</div>

			<div class="col-sm-3" id="algorithms">
				<h4> <span class="fab fa-grav"></span>Master Algorithms </h4>
				<p class="home-exp"> All programming languages are modeled after the same idea. Here you will be able to learn how to quickly learn different programming languages to improve your workflow. </p>
			</div>

			<div class="col-sm-3" id="apply">
				<h4> <span class="fas fa-key"></span>  Apply Concepts </h4>
				<p class="home-exp"> Build projects from scratch with the tools you have learned. Practice how and where to appropriately apply them. </p>
			</div>
		</div>

		</div>
	</div>
</div>
